<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Django Form</title>
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
</head>
<body>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	rohith
		<form style="width: 300px;" action="/register" method="POST">
			{% csrf_token %}
		  <div class="mb-3">
		    <label for="fname" class="form-label">First Name</label>
		    <input type="text" class="form-control" name="fname">
		  </div>
		  <div class="mb-3">
		    <label for="lname" class="form-label">Last Name</label>
		    <input type="text" class="form-control" name="lname">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
</body>
</html>