<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<p>welcome</p>
	<ul>
		{% for x in members %}
			<li> {{x.firstName}}{{x.LastName}}
		{%endfor%}
	</ul>
</body>
</html>